@import "bourbon";
@import "neat";

$lg: 580px;

html, 
body {
  margin: 0;
  padding: 10px;
  background: darken(whitesmoke, 10%);
}
#instafeed {
  width: 100%;
  
  a {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    
    @include media($lg) {
      width: 25%
    }
    
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}